  <tr>
    <th>Nome</th>
    <th>Apelido</th>
    <th>Endereço</th>
    <th>Produto</th>
    <th>Lucro</th>  
    <th>Rastreio</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% buyers.each do |buyer| %>
  <tr>
    <td title = <%= buyer.email %>><%= link_to buyer.name.capitalize.slice(/\w+/), buyer %></td>
    <td><%= buyer.nickname %></td>
    <td><%= buyer.city %>, <%= buyer.state %></td>
    <td><%= buyer.sale.title %></td>
    <td><%= '%.2f' % buyer.profit %></td>
    <td><%= buyer.tracking %></td>
    <td><% unless buyer.sent_at.nil? %> <%= buyer.sent_at.strftime('%d/%m/%y') %> <%end%></td>
    <td><%= link_to image_tag("lupa.png"), buyer %></td>
    <td><%= link_to image_tag("lapis.png"), edit_buyer_path(buyer) %></td>
    <td><%= link_to image_tag("trash.png"), buyer, :confirm => 'Tem certeza que deseja deletar?', :method => :delete %></td>
  </tr>
<%end%>