  <tr>
    <th>Nome</th>
    <th>E-Mail</th>
    <th>Apelido</th>
    <th>Endereço</th>
    <th>Produto</th>
    <th>Lucro</th>  
    <th>Rastreio</th>
    <th>Enviado em</th>
    <th></th>
    <th>Ações</th>
    <th></th>
  </tr>

<% buyers.each do |buyer| %>
  <tr>
    <td class = "column"><%= buyer.name.capitalize.slice(/\w+/) %></span></td>
    <td><%= buyer.email %></td>
    <td><%= buyer.nickname %></td>
    <td><%= buyer.city %>, <%= buyer.state %></td>
    <td <%if buyer.sale.title.downcase.index("usado")%><%= "class = 'usado'"%><%end%>><%= buyer.sale.title %></td>
    <td><%= '%.2f' % buyer.profit %></td>
    <td><%= buyer.tracking %></td>
    <td><%= buyer.sent_at %></td>
    <td><%= link_to 'Mostrar', buyer %></td>
    <td><%= link_to 'Editar', edit_buyer_path(buyer) %></td>
    <td><%= link_to 'Deletar', buyer, :confirm => 'Tem certeza que deseja deletar?', :method => :delete %></td>
  </tr>
<%end%>