     
  <tr>
    <th width = 100>Nome</th>
    <th width = 250>Apelido</th>
    <th width = 200>Endereço</th>
    <th width = 280>Produto</th>
    <th width = 10>Lucro</th>  
    <th width = 100>Rastreio</th>
    <th width = 20>Data</th>
    
    <th width = 10></th>
  </tr>

<% buyers.each do |buyer| %>
  <tr>
    <td title = '<%= buyer.email %>'><%= truncate(buyer.name.capitalize.slice(/\w+/), :length =>15) %></td>
    <td <% if buyer.nickname.length > 15 %> title = '<%= buyer.nickname %>' <% end %>><%= truncate(buyer.nickname, :length => 15) %></td>
    <td title = '<%= buyer.address %>'><%= buyer.city %>, <%= buyer.state %></td>
    <td><%= buyer.sale.title %></td>
    <td><%= '%.2f' % buyer.profit %></td>
    <td><%= view_tracking(buyer.tracking) %></td>
    <td><% unless buyer.sent_at.nil? %> <%= buyer.sent_at.strftime('%d/%m/%y') %> <%end%></td>
    <td><%= link_to image_tag("lupa.png"), buyer %>
    
    <%= link_to image_tag("lapis.png"), edit_buyer_path(buyer) %>

    <%= link_to image_tag("trash.png"),  buyer, :confirm => 'Tem certeza que deseja deletar?', :method => :delete %></td>
  </tr>
<%end%>