<div class = "le-havre-rounded">Compras em Aberto</div>
<br />
<table>
  <% if @buyers_in_progress.empty? %>
    <td>Não há compradores nesta seção.</td>
  <% else %>
      <%= render :partial => 'buyer_info_new', :locals => { :buyers => @buyers_in_progress }  %>
  <%end%>
</table>
<br />

<div class = "le-havre-rounded">Compras Enviadas</div>
<table>
  <% if @buyers_sent.empty? %>
    <td>Não há compradores nesta seção.</td>
  <% else %>
      <%= render :partial => 'buyer_info', :locals => { :buyers => @buyers_sent }  %> 
  <%end%>
</table>
<br />


<div class = "le-havre-rounded">Compras Finalizadas</div>
<table>
  <% if @buyers_finished.empty? %>
    <td>Não há compradores nesta seção.</td>
  <% else %>
    <%= render :partial => 'buyer_info', :locals => { :buyers => @buyers_finished }  %>
  <% end %>
</table>

<p style = "text-align:right; color:blue"><b>Lucro Total: <%= '%.2f' % @total_profit %> </b></p>

<% ESTADOS.each do |estado| %>
  <%= estado.class %> | 
<%end%>
<%= link_to 'Adicionar Comprador', new_buyer_path %>