<h1>Listing buyers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Nickname</th>
    <th>Sale</th>
    <th>Sent</th>
    <th>Finished</th>
    <th>Sent at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buyers.each do |buyer| %>
  <tr>
    <td><%= buyer.name %></td>
    <td><%= buyer.email %></td>
    <td><%= buyer.nickname %></td>
    <td><%= buyer.sale.title %></td>
    <td><%= buyer.sent %></td>
    <td><%= buyer.finished %></td>
    <td><%= buyer.sent_at %></td>
    <td><%= link_to 'Show', buyer %></td>
    <td><%= link_to 'Edit', edit_buyer_path(buyer) %></td>
    <td><%= link_to 'Destroy', buyer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Buyer', new_buyer_path %>
