
<div class = "le-havre-rounded">Listing sales</div>

  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Tax</th>
    <th>Cost</th>
    <th>Lucro</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td <%if sale.title.index("usado")%><%= "class = 'usado'"%><%end%>><%= sale.title %></td>
    <td><%= sale.price %></td>
    <td><%= sale.tax %></td>
    <td><%= sale.cost %></td>
    <td><%= '%.2f' % (sale.price - (sale.price * sale.tax) - sale.cost) %></td>
    <td><%= sale.quantity %></td>
    <td><%= link_to 'Show', sale %></td>
    <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
    <td><%= link_to 'Destroy', sale, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sale', new_sale_path %>
